<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manohar.soapsync"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.manohar.soapsync.activities.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="com.manohar.soapsync.activities.SplashActivity"
            android:label="@string/title_activity_splash"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.manohar.soapsync.activities.SeasonActivity"
            android:label="@string/title_activity_show_detail" >
        </activity>
        <activity
            android:name="com.manohar.soapsync.activities.EpisodeActivity"
            android:label="@string/title_activity_episode" >
        </activity>
    </application>

</manifest>